
body { color: #333132; }
nav {
    color: #333132;
    background-color: #fff;
    box-shadow: none;
}
nav a {
    color: #333132;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 40px;
    height: 56px;
    line-height: 56px;
}
.title-section {margin-top:30px;}
.title-section h1 {font-weight: bold; margin: 0.3rem 0 3.68rem 0; text-align:center; }
.title-section h2 {font-weight: bold; margin: 0.3rem 0 2rem 0; text-align:center; }
.title-section h3 {margin:0; text-align:center; font-size: 2.1rem;}
.side-nav {
    padding-top: 10px;
  }

.side-nav-top img {height:55px;padding:15px;}
.side-nav-top img.exit-icon {height:55px; margin-bottom:5px;}
.nav-wrapper .side-nav-top img.ocha-logo {height:65px;  margin-top:0px; margin-left:3px;}
.nav-wrapper img.ocha-logo {height:35px; margin-top:14px;}
.side-nav li.white {
  padding: 0 10px;
}

.side-nav li>a {
    color: #333132;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    height: 43px;
    line-height: 40px;
    padding: 0 32px;
}
.side-nav li>a.bold-text {
    font-weight: 700; font-size: 1.2em; line-height: 58px
}

.side-nav li.white-space-divider {height:4px;}
@media only screen and (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}
@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}
@media only screen and (min-width: 601px) {
    .container {
        width: 100%;
    }
}
.bold-text {font-weight: 700;}
.section-buttons {text-align: center; margin-top:30px;}
.sub-page .section-buttons {text-align: center; margin-bottom:60px;}
.subsection.section-buttons {text-align: center; margin-bottom: 0;}
.section-buttons a.btn {background-color: #fff; color: #333132 ; margin:5px; text-transform: none; box-shadow: none; border: 1px solid #C7C8CA; padding-left: 15px; padding-right: 15px; }

.logoBar {
    display: none;
}

.responsive-object iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.responsive-object {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
}
.overview .responsive-object { padding-bottom: 374%;}
.civ-mil .responsive-object { padding-bottom: 72%;}
.vulnerability .responsive-object { padding-bottom: 285%;}
.planning .responsive-object { padding-bottom: 325%;}
.impact-crisis .responsive-object { padding-bottom: 403%;}
.presence-response .responsive-object { padding-bottom: 150%;}
.rcce .responsive-object { padding-bottom: 150%;}
.restrictions .responsive-object { padding-bottom: 226%;}
.hum-impact .responsive-object { padding-bottom: 168%;}
.country .responsive-object { padding-bottom: 205%;}
.footer-hide {background-color: #fff; width:100%; height: 40px; position: relative; bottom: 0;}