.title-section {
  margin-top: 30px;
}

.title-section h1 {
  font-weight: bold;
  margin: 0.3rem 0 3.68rem 0;
  text-align: center;
}

.title-section h2 {
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-size: 2.1rem;
}

.responsive-object {
  position: relative;
  padding-bottom: calc(100% + 2rem);
  height: 1525px;
  overflow: hidden;
}

.responsive-object iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
